body {
    background-color: #F0F8FF;
    border-left-width: medium;
    border right-width: medium;
    font-family: verdana;
    }
h4 {
    color: #F0F8FF;
    font-family: verdana;
    }
img{
    align: center;
    }
