body {
    background-image: url("Wallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F0F8FF;
    border-left-width: medium;
    border right-width: medium;
    font-family: verdana;
    }
h4 {
    color: #A9A9A9;
    }
h5 {
    color: 	#3d4043;
    }
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
p {
    text-align: center;
    color: 	#3d4043;
    }
a {
    color: 	#3d4043;
    display: block;
    text-align: center;
    }